include "~/.nano/upstream/php.nanorc"
include "~/.nano/upstream/sh.nanorc"
include "~/.nano/upstream/patch.nanorc"
include "~/.nano/upstream/python.nanorc"
include "~/.nano/upstream/html.nanorc"
include "~/.nano/upstream/perl.nanorc"
include "~/.nano/upstream/ruby.nanorc"
include "~/.nano/upstream/js.nanorc"
include "~/.nano/upstream/xml.nanorc"
# Bad Regex
#include "~/.nano/upstream/puppet.nanorc"
include "~/.nano/upstream/nginx.nanorc"
include "~/.nano/upstream/nanorc.nanorc"
include "~/.nano/upstream/ini.nanorc"
include "~/.nano/upstream/markdown.nanorc"
include "~/.nano/upstream/go.nanorc"
include "~/.nano/upstream/git.nanorc"
include "~/.nano/upstream/apacheconf.nanorc"
include "~/.nano/custom/drupal.nanorc"
